/* Increase specificity by targeting HTML structure more precisely */
.navbar.custom-navbar,
.navbar.custom-navbar.navbar-light {
  background-color: white !important;  /* Ensure this overrides other styles */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar.custom-navbar .navbar-nav .nav-link {
  color: #333;
}

.navbar.custom-navbar .navbar-nav .nav-link:hover {
  color: #007bff;
}


#info-section {
  display: flex;
  background-color: #bed8d4;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px; /* Optional: Add padding for better spacing */
}

#info-section .card-text{
  text-align: center;
  max-width: 1000px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#info-section blockquote {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: #0375ba;

}

.container {
  padding: 20px;
  animation: fadeIn 1s ease-in-out;
}

h1 {
  padding: 20px;
  color: #0375ba;
}

.col-md-6 {
  text-align: center;
}

.resizable-image {
  max-width: 100px;
  padding: 10px;
}
#features .row {
  background-color: #f5f5f5;
}

h2 {
  font-weight: bold;
  text-align: center;
  color: #0375ba !important;
}
h4 {
  font-weight: bold;
  text-align: center;
  color: #0375ba !important;
}

#form {
  background-color: #e0f1ff;
  padding: 20px;
}

#form label {
  text-align: left;
}

.btn-primary {
  background-color: #0375ba;
  border-color: #007bff;
  width: 100%;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.footer {
  background-color: #11151c;
  color: #fff;
  padding: 30px 0;
}

.footer h4 {
  color: #fff;
}

.footer p {
  margin-bottom: 10px;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}
